#foto {
    display: none;
    background-color: rgba(0,0,255,0.5);
    width: inherit;
    height: inherit;
    position: relative;
    text-align: center;
    top: 20%;
}
#mapa {
    display: none;
    width: inherit;
    height: inherit;
    position: relative;
    text-align: center;
    top: 20%;
}

.imgGrande {
    
    width: 80%;
    height: auto;
    vertical-align: middle;
    position: relative;
    transform: translateY(-50%)
}

.marcoT {
    display: inline-block;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.marcoG {
    display: inline-block;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    overflow: scroll;
}



